.Menu {
  display: flex;
  height: 100%;
  width: 100%;
}

.Menu-exiting {
  animation: slide-out-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.Menu-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.Menu-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.Menu-logo img {
  filter: invert(100%) drop-shadow(0px 6px 20px rgba(0, 0, 0, 0.1));
  height: 18vmin;
  width: 18vmin;
}

.Menu-logo p {
  text-align: center;
  font-size: 12vmin;
  color: white;
  margin-left: 3vmin;
  text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
}
