.Menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.Menu-logo {
  display: flex;
  width: 80vmin;
  height: 80vmin;
  animation: puff-in-center 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@media (min-aspect-ratio: 2/3) {
  .Menu-logo {
    width: 60vmin;
    height: 60vmin;
  }
}
