.Playground {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.Playground-score {
  position: absolute;
  height: 15vmin;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
}

.Playground-board {
  display: flex;
  flex-direction: column;
  width: 70vmin;
  height: 70vmin;
}

@media (max-aspect-ratio: 3/4) {
  .Playground-score {
    height: 15vh;
  }

  .Playground-board {
    display: flex;
    flex-direction: column;
    width: 80vmin;
    height: 80vmin;
  }
}

@media (max-aspect-ratio: 2/3) {
  .Playground-score {
    height: 20vh;
  }

  .Playground-board {
    display: flex;
    flex-direction: column;
    width: 90vmin;
    height: 90vmin;
  }
}

.Playground-score-text {
  color: white;
  border-radius: 36px;
  font-weight: bold;
  padding: 2px 20px;
  border-width: 1px;
  border-style: solid;
}

.Playground-board-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}
