.Playground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #fafafa;
}

.Playground-touch-overlay-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  z-index: 999;
}

.Playground-touch-overlay-right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  z-index: 999;
}

.Playground-header {
  position: absolute;
  height: 15vmin;
  top: 20px;
  width: 100%;
  max-width: 100vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Playground-score-text {
  font-size: 5vh;
  border-radius: 36px;
  font-weight: bold;
  padding: 2px 20px;
  border-width: 0.5vmin;
  border-style: solid;
  background-color: white;
  border-color: white;
  margin-left: 20px;
}

.Playground-timer-text {
  font-size: 5vh;
  border-radius: 36px;
  font-weight: bold;
  padding: 2px 20px;
  border-width: 0.5vmin;
  border-style: solid;
  background-color: white;
  border-color: white;
  margin-right: 20px;
}

.Playground-stack {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 50vmin;
  height: 50vmin;
}

.Playground-footer {
  position: absolute;
  height: 15vmin;
  bottom: 20px;
  width: 100%;
  max-width: 100vmin;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Playground-left-image-container {
  margin-left: 20px;
  border-radius: 0.5vmin;
  width: 15vmin;
  height: 15vmin;
  overflow: hidden;
  box-shadow: 0 0.3vmin 0 rgba(0, 0, 0, .2);
}

.Playground-left-image-container > img {
  width: 100%;
  height: 100%;
}

.Playground-right-image-container {
  margin-right: 20px;
  border-radius: 0.5vmin;
  width: 15vmin;
  height: 15vmin;
  overflow: hidden;
  box-shadow: 0 0.3vmin 0 rgba(0, 0, 0, .2);
}

.Playground-right-image-container > img {
  width: 100%;
  height: 100%;
}
