.Playground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Playground-board {
  display: flex;
  flex-direction: column;
  width: 90vmin;
  height: 90vmin;
}

.Playground-board-row {
  display: flex;
  flex: 1;
  flex-direction: row;
}