.Result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  animation: fade-in 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.Result-new-record-image {
  height: 100%;
  width: 70%;
  object-fit: contain;
  margin-bottom: 5vmin;
  margin-top: -20vmin;
  max-width: 90vmin;
}

.Result-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  bottom: 5vmax;
}

.Result-buttons-separator {
  height: 5vmax;
}

@media (min-aspect-ratio: 1/1) {
  .Result-buttons {
    bottom: 4vmin;
  }
  .Result-buttons-separator {
    height: 4vmin;
  }
}
