.Result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  animation: slide-in-right 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.Result-exiting {
  animation: slide-out-left 0.5s cubic-bezier(0.23, 1, 0.32, 1) both;
}

.Result-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  bottom: 5vmax;
}

.Result-buttons-separator {
  height: 5vmax;
}

@media (min-aspect-ratio: 1/1) {
  .Result-buttons {
    bottom: 4vmin;
  }
  .Result-buttons-separator {
    height: 4vmin;
  }
}
