.Splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.Splash-exiting {
  animation: slide-out-left 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.Splash-score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 1.5s;
}

.Splash-label {
  color: white;
  font-size: 6vmin;
  margin-right: 20px;
  font-weight: bold;
}

.Splash-points {
  background: white;
  padding: 0.2vmin 3vmin;
  font-size: 6vmin;
  font-weight: bold;
  border-radius: 6vmin;
}

.Splash-start {
  margin-top: 80px;
  animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation-delay: 2s;
  transform: scale(0);
  background: white;
  border-radius: 6vmin;
  padding: 0.2vmin 3vmin;
  font-weight: bold;
  font-size: 6vmin;
  border: 1vmin solid;
  cursor: pointer;
  box-shadow: 0 0 0 1vmin white, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all .2s ease-in-out;
}

.Splash-start:hover {
  font-size: 7vmin;
  transform: scale(2);
}
