@keyframes swipe-right {
  to {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 20deg);
  }
}

@keyframes swipe-left {
  to {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -20deg);
  }
}

.Card {
  display: none;
  position: absolute;
  top: 0;
  background-color: white;
  box-shadow: 0 0.6vmin 0 rgba(0, 0, 0, .2);
  border-radius: 1vmin;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(0) scale(1);
  transition: transform .5s, opacity .2s .3s, filter .1s;
  overflow: hidden;
}

.Card > img {
  width: 50vmin;
  height: 50vmin;
}

.Card-invalid {
  display: flex;
  z-index: 14;
  animation: wobble-hor-bottom 0.8s both;
}

.Card-swiped-left {
  display: flex;
  z-index: 14;
  animation: swipe-left 0.5s forwards;
  transform-origin: 50% 300%;
}

.Card-swiped-right {
  display: flex;
  z-index: 14;
  animation: swipe-right 0.5s forwards;
  transform-origin: 50% 300%;
}

.Card-at-position-0 {
  display: flex;
  z-index: 10;
}

.Card-at-position-1 {
  z-index: 9;
  display: flex;
  opacity: 1;
  transform: translateY(3vmin) scale(0.95);
  transition: transform 0.5s;
}

.Card-at-position-2 {
  z-index: 8;
  display: flex;
  opacity: 1;
  transform: translateY(6vmin) scale(0.9);
  transition: transform 0.5s;
}

.Card-at-position-3 {
  z-index: 7;
  display: flex;
  opacity: 1;
  transform: translateY(9vmin) scale(0.85);
  transition: transform 0.5s;
}

.Card-at-position-0.Card-entering {
  animation: slide-in-blurred-top-position-0 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 0.9s;
}

.Card-at-position-1.Card-entering {
  animation: slide-in-blurred-top-position-1 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 0.6s;
}

.Card-at-position-2.Card-entering {
  animation: slide-in-blurred-top-position-2 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 0.3s;
}

.Card-at-position-3.Card-entering {
  animation: slide-in-blurred-top-position-3 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  animation-delay: 0s;
}

@keyframes slide-in-blurred-top-position-0 {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top-position-1 {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    transform: translateY(3vmin) scale(0.95);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top-position-2 {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    transform: translateY(6vmin) scale(0.9);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top-position-3 {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    filter: blur(0);
    transform: translateY(9vmin) scale(0.85);
    opacity: 1;
  }
}