.Card {
  display: none;
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 1vmin;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(0) scale(1);
  transition: transform 0.5s, opacity 0.2s 0.3s, filter 0.1s;
  overflow: hidden;
}

.Card > img {
  width: 42vmin;
  height: 42vmin;
  padding: 4vmin;
}

.Card-mini {
  border-radius: 0.5vmin;
  box-shadow: 0 0.3vmin 0 rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: visible;
}

.Card-mini > img {
  width: 14vmin;
  height: 14vmin;
  padding: 2vmin;
}

.Card-invalid {
  display: flex;
  z-index: 14;
  animation: wobble-hor-bottom 0.8s both;
}

.Card-swiped-left {
  display: flex;
  z-index: 14;
  animation: swipe-left 0.5s forwards;
  transform-origin: 50% 300%;
}

.Card-swiped-right {
  display: flex;
  z-index: 14;
  animation: swipe-right 0.5s forwards;
  transform-origin: 50% 300%;
}

.Card-at-position-0 {
  display: flex;
  z-index: 10;
}

.Card-at-position-1 {
  z-index: 9;
  display: flex;
  opacity: 1;
  transform: translateY(5vmin) scale(0.9);
  transition: transform 0.5s;
}

.Card-at-position-2 {
  z-index: 8;
  display: flex;
  opacity: 1;
  transform: translateY(10vmin) scale(0.8);
  transition: transform 0.5s;
}

.Card-at-position-3 {
  z-index: 7;
  display: flex;
  opacity: 1;
  transform: translateY(15vmin) scale(0.7);
  transition: transform 0.5s;
}

.Card-at-position-0.Card-entering {
  animation: slide-in-blurred-top-position-0 0.4s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation-delay: 0.6s;
}

.Card-at-position-1.Card-entering {
  animation: slide-in-blurred-top-position-1 0.4s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation-delay: 0.4s;
}

.Card-at-position-2.Card-entering {
  animation: slide-in-blurred-top-position-2 0.4s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation-delay: 0.2s;
}

.Card-at-position-3.Card-entering {
  animation: slide-in-blurred-top-position-3 0.4s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation-delay: 0s;
}

@keyframes slide-in-blurred-top-position-0 {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scaleY(1) scaleX(1);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top-position-1 {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    opacity: 0;
  }

  100% {
    transform: translateY(5vmin) scale(0.9);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top-position-2 {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    opacity: 0;
  }

  100% {
    transform: translateY(10vmin) scale(0.8);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top-position-3 {
  0% {
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    opacity: 0;
  }

  100% {
    transform: translateY(15vmin) scale(0.7);
    opacity: 1;
  }
}
