.Score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10vmin;
}

.Score-label {
  color: white;
  margin-right: 2vmin;
}

.Score-points {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 0px 6vmin;
  font-size: 9vmin;
  height: 12vmin;
  border-radius: 6vmin;
  vertical-align: middle;
}
