.Tile {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
  margin: 2%;
}

.Tile-disabled {
  pointer-events: none;
}

.Tile-show {
  animation-name: scale-up-center;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  animation-fill-mode: both;
}

.Tile-hide {
  animation-name: scale-down-center;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  animation-fill-mode: both;
}

.Tile-shadow {
  position: absolute;
  height: 50%;
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-radius: 10% / 20%;
}

.Tile-burst {
  position: absolute;
  height: 50%;
  left: 50%;
  bottom: 0px;
}

.Tile-content {
  z-index: 2;
  display: flex;
  width: 100%;
  height: 90%;
  border-radius: 10%;
  transition: all 0.1s;
  justify-content: center;
  align-items: center;
  font-size: 5vh;
  color: white;
  transition: all 0.2s;
}

.Tile:active .Tile-content {
  transform: translate(0px, 10%);
}

.Tile-touched {
  animation-name: scale-down-center;
  animation-duration: 0.3s;
  animation-timing-function: cubic-bezier(0.390, 0.575, 0.565, 1.000);
  animation-fill-mode: both;
  animation-delay: 0.5s;
  pointer-events: none;
}

.Tile-star {
  display: none;
}

.Tile-hint.Tile-marked .Tile-star {
  display: initial;
}

.Tile-unmarked.Tile-touched {
  animation: wobble-hor-bottom 0.8s both;
}

.Tile-marked.Tile-touched {
  animation: swirl-out-bck 0.6s ease-in both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

@keyframes swirl-out-bck {
  0% {
    transform: rotate(0) scale(1);
  }

  100% {
    transform: rotate(-540deg) scale(0);
  }
}
