.Timer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Timer-clock {
  display: flex;
  align-items: center;
}

.Timer-clock-icon {
  font-size: 7vmin;
  color: white;
  z-index: 99999;
}

.Timer-clock-icon-shadow {
  font-size: 7vmin;
  position: absolute;
  color: rgba(0, 0, 0, 0.2);
  margin-top: 0.2vmin;
  margin-left: 0.2vmin;
  z-index: 1;
}

.Timer p {
  color: white;
  font-weight: bold;
  font-size: 8vmin;
  color: white;
  text-shadow: 0.2vmin 0.2vmin 0px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 1vmin;
  width: 18vmin;
}
