.TimerBar {
  display: flex;
  width: 100%;
  animation: fade-in 0.2s linear;
}

.TimerBar-progress {
  height: 2vmin;
  padding-right: 2vmin;
  border-top-right-radius: 1vmin;
  border-bottom-right-radius: 1vmin;
}
