html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: contain;
  touch-action: none;
  overflow-x: hidden;
  user-select: text;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  touch-action: manipulation;
}

p,
span {
  user-select: text;
}

* {
  touch-action: none;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes wobble-hor-bottom {
  0% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }

  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes swipe-right {
  to {
    opacity: 0;
    transform: rotate3d(0, 0, 1, 20deg);
  }
}

@keyframes swipe-left {
  to {
    opacity: 0;
    transform: rotate3d(0, 0, 1, -20deg);
  }
}

@keyframes puff-in-center {
  0% {
    transform: scale(2);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
}
